.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 2% 15% 5%;
}

.Title {
  font-size: 32px;
  font-weight: bold;
}

.Subtitle {
  font-size: 24px;
  font-weight: bold;
}

.BigText {
  font-size: 21px;
}

.Text {
  font-size: 18px;
}

.Question {
  font-size: 18px;
  font-weight: bold; 
  margin: 5px;
}

.Spotlight {
  text-decoration: underline;
  font-weight: bold;
}

.RedSpotlight {
  color: red;
}

.QuestionMargin {
  margin: 15px;
}

.Answer {
  display: inline-block;
  margin: 10px;
  font-weight: normal;
}

.Slider {
  margin-top: 50px;
}

.SliderMarker {
  margin-bottom: 20px;
  width: 60%;
  font-size: 16px;
  display: inline-block;
  font-weight: normal;
}

.SliderLabel {
  width: 25%;
  float: left;
}

.SliderTicks {
  margin-left: 20%;
  margin-top: -14px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 60%;
  float: center;
  font-size: 14px;
}
